In [1]:
import numpy as np
import pandas as pd

In [2]:
diagnosis = pd.read_csv('ed_data/diagnosis.csv.gz', compression='gzip')
edstays = pd.read_csv('ed_data/edstays.csv.gz', compression='gzip')
medrecon = pd.read_csv('ed_data/medrecon.csv.gz', compression='gzip')
pyxis = pd.read_csv('ed_data/pyxis.csv.gz', compression='gzip')
triage = pd.read_csv('ed_data/triage.csv.gz', compression='gzip')
vitalsign = pd.read_csv('ed_data/vitalsign.csv.gz', compression='gzip')

FileNotFoundError: [Errno 2] No such file or directory: 'ed_data/diagnosis.csv.gz'

In [ ]:
diagnosis.head()

,subject_id,stay_id,seq_num,icd_code,icd_version,icd_title
0,10000032,32952584,1,4589,9,HYPOTENSION NOS
1,10000032,32952584,2,07070,9,UNSPECIFIED VIRAL HEPATITIS C WITHOUT HEPATIC ...
2,10000032,32952584,3,V08,9,ASYMPTOMATIC HIV INFECTION
3,10000032,33258284,1,5728,9,"OTH SEQUELA, CHR LIV DIS"
4,10000032,33258284,2,78959,9,OTHER ASCITES

In [ ]:
medrecon.head()

,subject_id,stay_id,charttime,name,gsn,ndc,etc_rn,etccode,etcdescription
0,10000032,32952584,2180-07-22 17:26:00,albuterol sulfate,28090,21695042308,1,5970.0,Asthma/COPD Therapy - Beta 2-Adrenergic Agents...
1,10000032,32952584,2180-07-22 17:26:00,calcium carbonate,1340,10135021101,1,733.0,Minerals and Electrolytes - Calcium Replacement
2,10000032,32952584,2180-07-22 17:26:00,cholecalciferol (vitamin D3),65241,37205024678,1,670.0,Vitamins - D Derivatives
3,10000032,32952584,2180-07-22 17:26:00,emtricitabine-tenofovir [Truvada],57883,35356007003,1,5849.0,Antiretroviral - Nucleoside and Nucleotide Ana...
4,10000032,32952584,2180-07-22 17:26:00,fluticasone [Flovent HFA],21251,49999061401,1,371.0,Asthma Therapy - Inhaled Corticosteroids (Gluc...

In [ ]:
edstays.head()

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition
0,10000032,22595853.0,33258284,2180-05-06 19:17:00,2180-05-06 23:30:00,F,WHITE,AMBULANCE,ADMITTED
1,10000032,22841357.0,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED
2,10000032,25742920.0,35968195,2180-08-05 20:58:00,2180-08-06 01:44:00,F,WHITE,AMBULANCE,ADMITTED
3,10000032,29079034.0,32952584,2180-07-22 16:24:00,2180-07-23 05:54:00,F,WHITE,AMBULANCE,HOME
4,10000032,29079034.0,39399961,2180-07-23 05:54:00,2180-07-23 14:00:00,F,WHITE,AMBULANCE,ADMITTED

In [ ]:
triage.head()

,subject_id,stay_id,temperature,heartrate,resprate,o2sat,sbp,dbp,pain,acuity,chiefcomplaint
0,10000032,32952584,97.8,87.0,14.0,97.0,71.0,43.0,7,2.0,Hypotension
1,10000032,33258284,98.4,70.0,16.0,97.0,106.0,63.0,0,3.0,"Abd pain, Abdominal distention"
2,10000032,35968195,99.4,105.0,18.0,96.0,106.0,57.0,10,3.0,"n/v/d, Abd pain"
3,10000032,38112554,98.9,88.0,18.0,97.0,116.0,88.0,10,3.0,Abdominal distention
4,10000032,39399961,98.7,77.0,16.0,98.0,96.0,50.0,13,2.0,"Abdominal distention, Abd pain, LETHAGIC"

In [ ]:
edstays['intime']=pd.to_datetime(edstays['intime'])
edstays['outtime']=pd.to_datetime(edstays['outtime'])
edstays['stay_length']=edstays['outtime']-edstays['intime']

In [ ]:
edstays.head()

,subject_id,hadm_id,stay_id,intime,outtime,gender,race,arrival_transport,disposition,stay_length
0,10000032,22595853.0,33258284,2180-05-06 19:17:00,2180-05-06 23:30:00,F,WHITE,AMBULANCE,ADMITTED,0 days 04:13:00
1,10000032,22841357.0,38112554,2180-06-26 15:54:00,2180-06-26 21:31:00,F,WHITE,AMBULANCE,ADMITTED,0 days 05:37:00
2,10000032,25742920.0,35968195,2180-08-05 20:58:00,2180-08-06 01:44:00,F,WHITE,AMBULANCE,ADMITTED,0 days 04:46:00
3,10000032,29079034.0,32952584,2180-07-22 16:24:00,2180-07-23 05:54:00,F,WHITE,AMBULANCE,HOME,0 days 13:30:00
4,10000032,29079034.0,39399961,2180-07-23 05:54:00,2180-07-23 14:00:00,F,WHITE,AMBULANCE,ADMITTED,0 days 08:06:00

In [ ]:
edstays.describe()

,subject_id,hadm_id,stay_id,intime,outtime,stay_length
count,4.250870e+05,2.030160e+05,4.250870e+05,425087,425087,425087
mean,1.500871e+07,2.499495e+07,3.499735e+07,2156-05-16 02:13:45.025934336,2156-05-16 09:23:15.002191872,0 days 07:09:29.976256625
min,1.000003e+07,2.000002e+07,3.000001e+07,2110-01-11 01:45:00,2110-01-11 07:04:00,-1 days +01:16:00
25%,1.251789e+07,2.248982e+07,3.249799e+07,2136-05-04 20:43:00,2136-05-05 02:42:00,0 days 03:32:00
50%,1.501628e+07,2.499935e+07,3.499395e+07,2156-05-07 11:21:00,2156-05-07 14:22:00,0 days 05:28:00
75%,1.749900e+07,2.749388e+07,3.750387e+07,2176-06-22 10:45:00,2176-06-22 16:47:00,0 days 08:19:00
max,1.999999e+07,2.999981e+07,3.999996e+07,2212-04-05 23:23:00,2212-04-06 14:20:00,20 days 13:04:10
std,2.878486e+06,2.888745e+06,2.888342e+06,NaN,NaN,0 days 06:37:40.799831351

In [ ]:
import matplotlib.pyplot as plt

# Create the histogram
plt.hist(edstays['stay_length'], bins=30, edgecolor='black')  # 'bins' controls the number of bars

# Add titles and labels
plt.title('Histogram of Random Data')
plt.xlabel('Value')
plt.ylabel('Frequency')

# Show the plot
plt.show()

ModuleNotFoundError: No module named 'matplotlib'